.crafting_recipe{
    transform: scale(2);
    margin: 8px;
    image-rendering: pixelated;
    width: 16px;
    height: 16px;
    background-image: url("https://huiji-public.huijistatic.com/isaac/uploads/8/89/Crafting_ui_sprite.png");
}
.crafting_recipe_0{background-position: -0px -0px;}
.crafting_recipe_1{background-position: -16px -0px;}
.crafting_recipe_2{background-position: -32px -0px;}
.crafting_recipe_3{background-position: -48px -0px;}
.crafting_recipe_4{background-position: -64px -0px;}
.crafting_recipe_5{background-position: -80px -0px;}
.crafting_recipe_6{background-position: -96px -0px;}
.crafting_recipe_7{background-position: -112px -0px;}
.crafting_recipe_8{background-position: -0px -16px;}
.crafting_recipe_9{background-position: -16px -16px;}
.crafting_recipe_10{background-position: -32px -16px;}
.crafting_recipe_11{background-position: -48px -16px;}
.crafting_recipe_12{background-position: -64px -16px;}
.crafting_recipe_13{background-position: -80px -16px;}
.crafting_recipe_14{background-position: -96px -16px;}
.crafting_recipe_15{background-position: -112px -16px;}
.crafting_recipe_16{background-position: -0px -32px;}
.crafting_recipe_17{background-position: -16px -32px;}
.crafting_recipe_18{background-position: -32px -32px;}
.crafting_recipe_19{background-position: -48px -32px;}
.crafting_recipe_20{background-position: -64px -32px;}
.crafting_recipe_21{background-position: -80px -32px;}
.crafting_recipe_22{background-position: -96px -32px;}
.crafting_recipe_23{background-position: -112px -32px;}
.crafting_recipe_24{background-position: -0px -48px;}
.crafting_recipe_25{background-position: -16px -48px;}
.crafting_recipe_26{background-position: -32px -48px;}
.crafting_recipe_27{background-position: -48px -48px;}
.crafting_recipe_28{background-position: -64px -48px;}
.crafting_recipe_29{background-position: -80px -48px;}
.crafting_recipe_30{background-position: -96px -48px;}